:root {
    --primario: #fcd6ea;
    --gris: #777777;
    --secundario: #fba6d3;
    --terciario: #f2f2f2;
    --presionado: #fc8dc8;
    ;

}
@font-face {
    font-family: BlueEyes;
    src: url(../fonts/BlueEyes.otf);
}

html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3.8rem;
    color: red;

}

body {
    color: #333;
    font-size: 1.3rem;
    line-height: 1.3em;
    margin: 0;
    background-image: linear-gradient(to bottom, white 0%, black 100%);
}

.cabecera {
    background: black 90%;
    color: white;
    padding: 0.5rem 0;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: var(--primario) 4px solid;
}

.cabecera img {
    margin-left: 2rem;
}

.navegar-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cabecera a {
    color: white;
    margin-left: -6px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.5rem;
    width: 7rem;
    transition: all 0.2s linear;
    border-left: var(--primario) 1px solid;
    border-right: var(--primario) 1px solid;
}

.cabecera a:hover {
    background-color: var(--secundario);
    border-left: black 1px solid;
    border-right: black 1px solid;
}

.cabecera_mail {
    display: flex;
    margin-left: 8%;
}

.menu-icono {
    color: white;
    display: none;
}

#navegar {
    padding-right: 5rem;
}

.contenedor {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "BlueEyes";
    width: 80%;
    max-width: 1300px;
    margin: -32px auto;
    background: white;
    justify-content: center;
    padding-bottom: 2.5rem;
    padding-top: 0rem;
}

.contenedor h2 {
    font-weight: normal;
    text-shadow: 5px 5px 3px var(--primario);
    font-family: "BlueEyes";
    font-size: 100px;
    padding-top: 6rem;
    text-align: center;
}

.servicios {
    display: grid;
    text-align: justify;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.servicios img {
    width: 60%;
}

.servicios section {
    padding-left: 20px;
    padding-right: 20px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio a {
    font-family: Comfortaa;
    color: black;
    font-weight: normal;
    font-size: 25px;
    max-width: 50%;
    padding-top: 1rem;
    text-align: center;
}

.servicio p {
    line-height: 1.5;
}

.servicio .iconos {
    height: 8rem;
    width: 8rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1180px) {
    .cabecera a {
        color: white;
        display: block;
        text-align: justify;
        padding-left: 2rem;
        width: 106%;
    }
    .navegar-cabecera {
        display: block;
        margin-left: 4%;
    }
}
@media only screen and (max-width: 705px) {
    .cabecera_mail {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 575px) {
    .cabecera img {
        width: 250px;
        margin-left: 5px;
        height: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .cabecera a {
        width: 112%;
    }
}
@media only screen and (max-width: 485px) {
    .cabecera a {
        width: 120%;
        border-left: black 1px solid;
        border-right: black 1px solid;
    }
}
@media only screen and (max-width: 350px) {
    .contenedor h2 {
        font-size: 75px;
    }
    .cabecera_mail h3 {
        font-size: 20px;
    }
}

/*INICIO DE FOOTER*/

.servicios_footer {
    display: grid;
    text-align: justify;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
    width: 90%;
    margin: 0 0 0 7%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.servicios_footer h2 {
    font-size: 30px;
    color: var(--terciario);
    font-family: "BlueEyes";
    font-weight: normal;
    padding-bottom: 1rem;
}

.servi_foot {
    width: 95%;
    margin: 0 0 0 0;
    padding-left: 4rem;

}

#linea_div1 {
    bottom: 80%;
    left: 110%;
    height: 75%;
}

#linea_div2 {
    bottom: 69%;
    height: 75%;
    left: 110%;
}

.linea_divisoria {
    position: relative;
    border-radius: 25%;
    margin: 0;
    width: 3px;
    border-color: var(--secundario);
    background-color: var(--secundario);
}

.sect_foot h3 {
    font-size: 20px;
}

.pie_pag p {
    padding: 1rem 0;
    text-align: center;
    color: rgb(160, 160, 160);
    text-align: justify;
    width: 99%;
    padding-left: 1rem;
}
.sub_footer p{
    padding: 1rem 0;
    text-align: center;
    color: rgb(160, 160, 160);
}

.sect_foot {
    display: flex;
    align-items: center;
}

.sect_foot h3 {
    color: rgb(160, 160, 160);
    margin-left: 1rem;
    text-align: left;

}

.sect_foot svg {
    box-sizing: border-box;
}

.footer_2 {
    background-color: rgba(0, 0, 0, 0.829);
    padding-top: 4px;
    padding-bottom: 1px;
}

.sub_footer p {
    background-color: rgba(0, 0, 0, 0.829);
    padding-top: 4px;
    padding-bottom: 1px;
    text-align: center;
    align-content: center;
}
.sub_footer p{
    padding:2rem 0 1rem 0;
    text-align: center;
    color: rgb(160, 160, 160);
}

/*FINALIZA FOOTER*/